<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>

          <Exclude>
            [Fuel.Gateway]*,
            [Fuel.Events]*
          </Exclude>

          <ExcludeByFile>
            **/Program.cs,
            **/Dockerfile,
            **/Infrastructure/**/*.cs,
            **/Features/**/Data/**/*.cs
          </ExcludeByFile>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>